<a href="https://colab.research.google.com/github/FintradeLab/CinC_24_I/blob/main/01_Python_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction**

# **1. Python as a Calculator**

In [ ]:
# Additon
2 + 3

5

In [ ]:
# Substraction
16 - 9

7

In [ ]:
# Multiplication
5 * 7 # five times seven

35

In [ ]:
# Division

3.3333333333333335

In [ ]:
# Integer Division
10 // 3

3

In [ ]:
# Exponential
2 ** 3

8

# **2. Composite operations and Parentheses**

In [ ]:
# Example
2 * 3 ** 2 - 1

17

In [ ]:
# Example
2 * (3 ** 2 - 1)

16

# **3. Types of numbers**

*Natural*: 0, 1, 2, ... These are all the positive integers.

*Integers*: ..., -2, -1, 0, 1, 2, ...

*Real*: all numbers except imaginary. All numbers with decimals.

In [ ]:
# Example
type(26)

int

In [ ]:
# Example
type(1.25)

float

In [ ]:
# Scientific notation
5e-1

0.5

# **4. Basic and useful functions**

## *Print*

In [ ]:
# Example - one element
print(2024)

2024

In [ ]:
# Example - more than one element
print(2024, 2, 21)

2024 2 21

In [ ]:
# Example - with loop
for i in range(0,10): print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# Example - with text
print('My name is Rodrigo')
print('First Name:', 'José', 'Last Name:', 'Vélez')
print('First Name:', 'José', '\t Last Name:', 'Vélez')
print('First Name:', 'José', '\nLast Name:', 'Vélez')

My name is Rodrigo
First Name: José Last Name: Vélez
First Name: José 	 Last Name: Vélez
First Name: José
Last Name: Vélez

In [ ]:
# Example - with text and numbers
print('My favorite number is', 21)

My favorite number is 21

## *Round*

In [ ]:
# Example
round(7.2345, 1)

7.2

In [ ]:
# Example
## Let's print the result of rounding a number from 0 to 3 decimals
print('Approx. with', 0, 'decimals is:', round(7.2345, 0))
print('Approx. with', 1, 'decimals is:', round(7.2345, 1))
print('Approx. with', 2, 'decimals is:', round(7.2345, 2))
print('Approx. with', 3, 'decimals is:', round(7.2345, 3))

Approx. with 0 decimals is: 7.0
Approx. with 1 decimals is: 7.2
Approx. with 2 decimals is: 7.23
Approx. with 3 decimals is: 7.234

In [ ]:
# Example - with loops
for i in range(0, 4):
  print('Approx. with', i, 'decimals is:', round(7.2345, i))

Approx. with 0 decimals is: 7.0
Approx. with 1 decimals is: 7.2
Approx. with 2 decimals is: 7.23
Approx. with 3 decimals is: 7.234

In [2]:
# Exercise
## Print the result of rounding to 3 decimals the calculation
## 10 divided by its precedents

for i in range(1,11):
  print(10, '/', i, '=', round(10/i,3))

10 / 1 = 10.0
10 / 2 = 5.0
10 / 3 = 3.333
10 / 4 = 2.5
10 / 5 = 2.0
10 / 6 = 1.667
10 / 7 = 1.429
10 / 8 = 1.25
10 / 9 = 1.111
10 / 10 = 1.0