<a href="https://colab.research.google.com/github/FintradeLab/CinC_24_I/blob/main/02_Python_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. What is a variable?**

*Container* that stores values

# **2. Declaration**

In [17]:
# Example
a = 5

In [18]:
print(a)

5

In [19]:
# Example
print(a + 1)
print(a * a)

6
25

In [20]:
# Trick
x = y = z = 100

In [21]:
# Trick
n, m = 10, 15

# **3. Delete and Clear**

In [22]:
# Delete one or more variables
del x, n

In [23]:
# Clear all variables
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [25]:
# Exercise
## Print the result of rounding to 3 decimals the calculation
## 10 divided by its precedents

## USING VARIABLES

a = 20      # number
b = 4       # number of decimals

for i in range(1,a+1):
  print(a, '/', i, '=', round(a/i,b))

20 / 1 = 20.0
20 / 2 = 10.0
20 / 3 = 6.6667
20 / 4 = 5.0
20 / 5 = 4.0
20 / 6 = 3.3333
20 / 7 = 2.8571
20 / 8 = 2.5
20 / 9 = 2.2222
20 / 10 = 2.0
20 / 11 = 1.8182
20 / 12 = 1.6667
20 / 13 = 1.5385
20 / 14 = 1.4286
20 / 15 = 1.3333
20 / 16 = 1.25
20 / 17 = 1.1765
20 / 18 = 1.1111
20 / 19 = 1.0526
20 / 20 = 1.0

In [29]:
# Exercise
## Find and print the 100 first multiples of 7
## Using variables

n = 4      # number
m = 50    # number of mulitples

print('The', m, 'th multiples of ', n)
for i in range(1, m+1):
  print('The multiple in position', i, 'th is:', n*i)

The 50 th multiples of  4
The multiple in position 1 th is: 4
The multiple in position 2 th is: 8
The multiple in position 3 th is: 12
The multiple in position 4 th is: 16
The multiple in position 5 th is: 20
The multiple in position 6 th is: 24
The multiple in position 7 th is: 28
The multiple in position 8 th is: 32
The multiple in position 9 th is: 36
The multiple in position 10 th is: 40
The multiple in position 11 th is: 44
The multiple in position 12 th is: 48
The multiple in position 13 th is: 52
The multiple in position 14 th is: 56
The multiple in position 15 th is: 60
The multiple in position 16 th is: 64
The multiple in position 17 th is: 68
The multiple in position 18 th is: 72
The multiple in position 19 th is: 76
The multiple in position 20 th is: 80
The multiple in position 21 th is: 84
The multiple in position 22 th is: 88
The multiple in position 23 th is: 92
The multiple in position 24 th is: 96
The multiple in position 25 th is: 100
The multiple in position 26 th is: 104
The multiple in position 27 th is: 108
The multiple in position 28 th is: 112
The multiple in position 29 th is: 116
The multiple in position 30 th is: 120
The multiple in position 31 th is: 124
The multiple in position 32 th is: 128
The multiple in position 33 th is: 132
The multiple in position 34 th is: 136
The multiple in position 35 th is: 140
The multiple in position 36 th is: 144
The multiple in position 37 th is: 148
The multiple in position 38 th is: 152
The multiple in position 39 th is: 156
The multiple in position 40 th is: 160
The multiple in position 41 th is: 164
The multiple in position 42 th is: 168
The multiple in position 43 th is: 172
The multiple in position 44 th is: 176
The multiple in position 45 th is: 180
The multiple in position 46 th is: 184
The multiple in position 47 th is: 188
The multiple in position 48 th is: 192
The multiple in position 49 th is: 196
The multiple in position 50 th is: 200